.main {
    display: flex;
    flex-direction: row;
}
h1{
    font-size: large;
    color: #FDFEFE;
    background-color: #58D68D;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
sidebar {
    margin: 10px;
    min-width: 200;
    background-color: #FDFEFE;;
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
article {
    padding: 10px;
    margin: 10px;
    background: #FDFEFE;
    display: flex;
  }

  footer{
    background-color: #58D68D;
  }