body{
    margin-top: 60px;
    margin-left: 60px;
    font-family:Arial, Helvetica, sans-serif ;
}
h1.otsikko{
    color:rgb(103, 163, 109);
    font-size:xx-large;
}
h2.otsikko{
    font-size:xx-large;
}
a.marnie{
    color: rgb(38, 99, 0);
    font-size: large;
    background-color: rgba(107, 131, 77, 0.758);
    display: inline-block;
    box-shadow: 5px 5px;
    padding: 5px;
    text-decoration: underline;
    text-align: center;

}

a.marnie:hover{
    color: rgb(180, 214, 154);
    

}