.image{
    background-color: rgb(143, 168, 149);
    background-image:url("../images/Torronsuo5.jpg");
    opacity: 0.7;
    height: 250px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    margin: 0px;
    
}
.headerfp{
    position:absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%, -80%);
    background-color: rgb(89, 89, 76,.7);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    
}
a.pertti{
    color: rgb(48, 125, 0);
    
    
}
a.pertti :hover{
    color: rgb(163, 194, 139);
    
}


img.pics:hover{
    opacity: 1;
    width: 250px;
    height: auto;
    margin: 0px;
    border-radius: 10px;
    min-width: 60px;
    
}
img.pics{
    opacity: 0.5;
    width: 250px;
    height: auto;
    margin: 0px;
    border-radius: 10px;
    min-width: 60px;

}

figure.pics{
    color: transparent;
    

}
figure.pics:hover{
    color: rgb(0, 69, 7);

}
.flexContainer {
    padding: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: row;       
}
.flex-item {
    padding: 10px;
    flex: 25%;
   
  }
@media (max-width: 700px){
.flexContainer {
    padding: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column;       
}}






