.image{
    background-color: rgb(143, 168, 149);
    background-image:url("../images/Torronsuo5.jpg");
    background-blend-mode:soft-light;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 250px;
}
.headerfp{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}


a {
    color:#001e0d;
}
a:hover {
    color:rgb(177, 255, 247);    
}
