body{
  margin: 0px;
}

.headerfp{
  position:absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -87%);
  background-color: rgb(89, 89, 76,.7);
  text-align: center;
  color: rgb(255, 255, 255);
  font-size:xx-large;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  
}

.image{
    background-color: #a9b7e7;
    background-image:url("../images/Liesjärvi1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 250px;
    margin: 0px;
    opacity: 0.7;
}


  .flexContainer{
    display: flex;
  
}

img{
margin: 30px;
}

article{
  margin-left: 60px;
  margin-right: 40px;
  margin-top: 60px;
}

u{
  color: rgb(103, 163, 109);
}

.sidenav{
flex-direction: column;
margin-right: 50px;
margin-top: 40px;
}

ul.x{
  list-style-type: disc;
  
}


