.header {
    padding: 60px;
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    
      
}

.image{
    background-color: #a9b7e7;
    background-image:url("../images/Liesjärvi1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 250px;
}

sidebar{
    
    width: 160px;
    text-align: left;
     

    background-color: #add3ad; 
     
    
}

li{
    list-style-type: circle;
}