h2 {
    font-size: large;
    color:rgb(103, 163, 109);
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color:rgb(103, 163, 109);
}
a {
    color:rgb(103, 163, 109);
    text-decoration: none;
}
a:hover {
    color:rgb(163, 194, 139);
    text-decoration: none;   
}
a span {
    color: rgb(255, 255, 255);
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
li span {
    color:rgb(255, 255, 255);
    text-decoration: none;
    background-color:rgb(107, 131, 77);
    text-align: left;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
}
li:hover span {
    color:rgb(163, 194, 139);
    text-decoration: none; 
}
ul li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: medium;   
}
dl dt dd {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;  
}
.flexContainer {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    background: #FDFEFE;
    flex-wrap: wrap;
    align-content: space-between;
    font-size: medium;
    display: inline-block; 
}
.image{
    background-color: rgb(143, 168, 149);
    background-image:url("../images/Torronsuo6.jpg");
    opacity: 0.7;
    height: 250px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.headerfp{
    position:absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%, -80%);
    background-color: rgb(89, 89, 76,.7);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}
img {
    float: right; 
    margin: 50px;
    border-radius: 25px;
    padding: 20px; 
}
.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}
#photoside {
    background-color: #FDFEFE;
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-width: 100px;
    padding: 10px;
}
.page3image {
    background-color: rgb(143, 168, 149);
    background-image:url("../images/Torronsuo1.jpg");
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
    height: 250px;
}
.button {
    background-color: rgb(143, 168, 149);
    border: none;
    color: #FDFEFE;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }