h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #58D68D;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #58D68D;
}
figcaption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    text-align: right;
}
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}
a {
    color:black;
}
a:hover {
    color:#58D68D;    
}
.flexContainer {
    margin: 10px 20px;
    padding: 20px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    background: #FDFEFE;
    align-content: space-between;
    flex-direction: row;       
}
.image {
    height: 250px;
    background-image: url("../images/Torronsuo1.jpg");
    background-size:cover;
    background-position: bottom;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #FDFEFE;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}