a.marnie{
    color: rgb(48, 125, 0);
    background-color: rgba(107, 131, 77, 0.758);
    display: inline-block;
    box-shadow: 5px 5px;
    padding: 5px;
    text-decoration: underline;
    text-align: center;

}

a.marnie:hover{
    color: rgb(163, 194, 139);
    

}

div .mar {
    margin-left: 30px;
    margin-top: 30px;
    min-height: 590px;
    
}
