a.marnie{
    color: rgb(38, 99, 0);
    font-size: large;
    background-color: rgba(107, 131, 77, 0.758);
    display: inline-block;
    box-shadow: 5px 5px;
    padding: 5px;
    text-decoration: underline;
    text-align: center;

}

a.marnie:hover{
    color: rgb(180, 214, 154);
    

}

div .mar {
    margin-left: 60px;
    margin-top: 60px;
    min-height: 590px;
    
}
