* {
    /* margin:0;
    padding:0;
    border:0;
    outline: 0; */
    font-size: 100%;
    vertical-align: baseline;
    
}
hr {
    display: block;
    height: 1px;
    border: 0;
    /* border-top: 1px solid #cbcbcb; */
    /* margin:1em 0; */
    /* padding: 0; */
}

input, select {
    vertical-align: middle;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display: block;
}
nav ul{
    list-style: none;
}
header{
    width:100%;
    padding-right: 10%;
    
}
header.image {
    background-image:url("../assets/images/Liesjarvi7_2.jpg")!important; 
    
}
header a{
    margin: 50px;
}

header ul{
    display: block;
    margin: 0 auto;
    width:auto;
}
header nav ul li{
    display: inline-block;
    /* float: left; */
    list-style: none;
    padding: 0 16px;
    
    
}

main{
    padding-top: 100px;
    display: block;
    margin-left: 60px;
    /* margin-right: 60px; */
    width: 75%;
 
}
footer .row{

    width:auto;
   
}
section{
    display:inline-block;
    block-size: auto;
    width:fit-content;
}

.wrapper {
    margin: 0 auto 0 60px;
    display:inline-block;
    block-size: auto;
    width: 100%;
    /* width: 1250px;
    background-color: blanchedalmond; */
    
}

.gallery-links{
    /* overflow:hidden; */
    margin-bottom: 30px ;
   
   
}
.gallery-links div{
    /* overflow: hidden; */
    margin-bottom: 10px 10px 0 ;
    height: 100%;
    float:left;
   
}
.gallery-links .gallery-container{
    /* float: left; */
    width:fit-content;
    height: auto;
    margin: 20px 10px 0px;
    /* background-color: aqua; */

}
.gallery-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
   


}
.gallery-container a {
    width: 230px;
    margin: 20px 10px 0;
    display: inline;

}

.gallery-links h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: black;
    text-align: center;
    text-transform: uppercase;

}

.gallery-upload{
    display:block;
    background-color: rgba(45, 118, 0, 0.6);
    padding: 20px;
  
}


.gallery-container a div {
    width: 100%;
    height: 235px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.gallery-links .gallery-container a h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 550;
    color: rgb(103, 163, 109);
    text-align: center;
    /* text-transform: uppercase; */
    padding-top: 16px;

}
.gallery-links .gallery-container p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 530;
    color: black;
    text-align: center;
    /* text-transform: uppercase; */
}

.h1{
    text-align: center;
    color: rgb(103, 163, 109);

   
}

div.dal{
    margin-bottom: 10px;
}

h3.al{
    line-height: 1;
}

p.pal{
    line-height: 1;
}


a.marnie{
    color: rgb(38, 99, 0);
    font-size: large;
    background-color: rgba(107, 131, 77, 0.758);
    display: inline-block;
    box-shadow: 5px 5px;
    padding: 5px;
    text-decoration: underline;
    text-align: center;

}

a.marnie:hover{
    color: rgb(180, 214, 154);
    

}


    @media screen and (max-width: 800px){
        main{
        /* padding-top: 50px;
        display: block;
        margin: 0;
        margin-left: 5%; */
        width: 75%;
     
        }

        header{
            width:100%;
         
        }
       
        .gallery-container a div {
        
            width: 100%;
            height: 235px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        
        }
        .gallery-links .gallery-container a h3{
            font-family:Arial, Helvetica, sans-serif;
            font-size:large;
            font-weight: 550;
            color: rgb(103, 163, 109);
            text-align: center;
            /* text-transform: uppercase; */
            padding-top: 16px;
        
        }
        .gallery-links .gallery-container p{
            font-family:Arial, Helvetica, sans-serif;
            font-size:medium;
            font-weight: 500;
            color: black;
            text-align: center;
            /* text-transform: uppercase; */
        }
      
       .wrapper-main{
        margin: 0 auto;
        width:100%;
       }
       .lomakkeelle{
        margin-left: 5%;
        margin-right: 5%;
       }

       .h1{
        text-align: center;
       
       }
      ul.margin{
        text-align:justify;
      }

      .wrapper{
        margin-left: 0%;
      }
      

}   

